.events__container__info{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 2.25rem;
    align-items: center;
    border-bottom: .1rem solid #0003;
    cursor: pointer;
}

.events__image{
    height: 11.75rem;
    width: 11.75rem;
    object-fit: cover;
}

.events__copy__date{
    display: grid;
    grid-template-columns: 1.625rem auto;
    align-items: center;
}

.events__copy__date p{
    font-size: .8rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
}
.events__copy h3{
    text-transform: uppercase;
    font-size: 1rem;
    color: var(--color-primary);
}

.events__btn{
    justify-self: end;
    white-space: nowrap;
}

.btn--event{
    font-size: 0.8rem;
}

.fa-clock{
    color: var(--color-primary);
}